.new-meme-form {
    position: relative;
    background-color: #8bc8cac4;
    color: #f1fcfc;
    border-bottom: 2px dashed white;
    border-top: 2px dashed white;
}

.upload-photo {
    justify-content: center;
    margin: 0;
    padding: 60px 0px;
}

#submit-button {
    margin: 40px 0px;
    background-color: #f1fcfc;
    color: #2b9497;
    border: 1px solid #2b9497;
    padding: 10px;
    font-size: 20px;
}

.form-input {
    padding: 30px 11px;
}